
    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-white mt-5 pt-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href=""><h1 class="text-secondary mb-3"><span class="text-white">DRY</span>ME</h1></a>
                <p>
                    We are social through the following links.
                </p>
                <div class="d-flex justify-content-start mt-4">
                    <!-- <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a> -->
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.facebook.com/amine.abdoulayeoumar.37"><i class="fab fa-facebook-f"></i></a>
                    <!-- <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a> -->
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.instagram.com/invites/contact/?i=1v7tqfqv90lj5&utm_content=llla2q0"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Get In Touch</h4>
                <p>Reach us through the following </p>
                <p><i class="fa fa-map-marker-alt mr-2"></i>B215/24 Street, Accra, Ghana</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+233 592 491 858</p>
                <p><i class="fab fa-whatsapp mr-2"></i>+235 66 594 828</p>
                <p><i class="fa fa-envelope mr-2"></i>aminebenfils0@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#about-us"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    <a class="text-white mb-2" href="#our-services"><i class="fa fa-angle-right mr-2"></i>Services</a>
                    <a class="text-white mb-2" href="#exchange-rate"><i class="fa fa-angle-right mr-2"></i>Echange Rate</a>
                    <a class="text-white" href="#contact-us"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5" id="contact-us">
                <h4 class="text-white mb-4">Message Us</h4>
                <form action="" method="post">
                    <div class="form-group">
                        <input name="customer-name" type="text" class="form-control border-0" placeholder="Your Name" required="required" />
                    </div>
                    <div class="form-group">
                        <!-- <input type="email" name="message" class="form-control border-0" placeholder="Your Email" required="required" /> -->
                        <textarea  name="message" class="form-control border-0" placeholder="Your Message" required="required" id="" cols="30" rows="5"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-lg btn-secondary btn-block border-0" type="submit">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white py-4 px-sm-3 px-md-5">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-white font-weight-medium" href="#">Your Site Name</a>. All Rights Reserved. Designed by
            <a class="text-white font-weight-medium" href="https://technomics.vercel.com">Technomics</a>
        </p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="lib/easing/easing.min.js"></script> -->
    <script src="{{ url_for('static', filename='assets/lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <!-- <script src="lib/waypoints/waypoints.min.js"></script> -->
    <!-- <script src="lib/counterup/counterup.min.js"></script> -->
    <!-- <script src="lib/owlcarousel/owl.carousel.min.js"></script> -->
    
    <!-- Contact Javascript File -->
    <script src="{{ url_for('static', filename='assets/mail/jqBootstrapValidation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/mail/contact.js') }}"></script>
    <!-- <script src="mail/jqBootstrapValidation.min.js"></script> -->
    <!-- <script src="mail/contact.js"></script> -->
    
    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <!-- <script src="js/main.js"></script> -->
</body>

</html>