{% extends 'base.html' %}

{% block content %}
    
    <main>
        <!-- Topbar Start -->
        {% include 'partials/_top_nav.html'   %}

        <!-- Carousel Start -->
        <div class="container-fluid p-0">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="{{ url_for('static', filename='assets/img/amin-flier.jpg') }}" height="500px" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 900px;">
                                <h4 class="text-white text-uppercase mb-md-3">Money Transactions</h4>
                                <h1 class="display-1 text-white mb-md-4">Best Transfer and Receival Services</h1>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="{{ url_for('static', filename='assets/img/moneytrans-1.png') }}" height="500px" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 900px;">
                                <h4 class="text-white text-uppercase mb-md-3">Currency Exchange</h4>
                                <h1 class="display-3 text-white mb-md-4">Highly Professional</h1>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-secondary" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-secondary" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Contact Info Start -->
        <div class="container-fluid contact-info mt-5 mb-4">
            <div class="container" style="padding: 0 30px;">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px;">
                        <div class="d-inline-flex">
                            <div class="d-flex flex-column text-center">
                                <h5 class="text-white font-weight-medium">Our Location</h5>
                                <p class="m-0 text-white"><i class="fa fa-map-marker-alt text-white m-0 mr-3"></i>B215/24 Street, Accra Ghana, West Africa</p>
                                <p class="m-0 text-white"><i class="fa fa-map-marker-alt text-white m-0 mr-3"></i>... Chard</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center bg-primary mb-4 mb-lg-0" style="height: 100px;">
                        <div class="d-inline-flex text-center">
                            <div class="d-flex flex-column">
                                <h5 class="text-white font-weight-medium">Email Us</h5>
                                <p class="m-0 text-white"><i class="fa fa-envelope text-white m-0 mr-3"></i>aminebenfils0@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px;">
                        <div class="d-inline-flex text-center">
                            <!-- <i class="fa fa-2x fa-phone-alt text-white m-0 mr-3"></i> -->
                            <div class="d-flex flex-column">
                                <h5 class="text-white font-weight-medium">Call Us By</h5>
                                <p class="m-0 text-white"><i class="fa fa-phone-alt" aria-hidden="true"></i> Phone: +233 592 491 858</p>
                                <p class="m-0 text-white"> <i class="fab fa-whatsapp" aria-hidden="true"></i> whatsapp: +235 66 594 828</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Info End -->


        <!-- About Start -->
        <div class="container-fluid py-5" id="about-us">
            <div class="container pt-0 pt-lg-4">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <img class="img-fluid" src="{{ url_for('static', filename='assets/img/amin-flier.jpg') }}" alt="">
                    </div>
                    <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
                        <h6 class="text-secondary text-uppercase font-weight-medium mb-3">More About Us</h6>
                        <h1 class="mb-4">We Are A Professionally Certified Bussiness</h1>
                        <h5 class="font-weight-medium font-italic mb-4">Suplyiging Quality and Transparent Transactions is our Main Priority</h5>
                        <p class="mb-2">
                            We work in Four (4) Counties at the moment. We work in GHANA, TCHAD, CONGO and COTE D'VOIRE.
                            <br>
                            We render the following Service across Coountries.
                        </p>
                        <div class="row">
                            <div class="col-sm-6 pt-3">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check text-primary mr-2"></i>
                                    <p class="text-secondary font-weight-medium m-0">Money Transactions</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pt-3">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check text-primary mr-2"></i>
                                    <p class="text-secondary font-weight-medium m-0">Currency Exchange</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pt-3">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check text-primary mr-2"></i>
                                    <p class="text-secondary font-weight-medium m-0">Resident Permits And Visa Registrations</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pt-3">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check text-primary mr-2"></i>
                                    <p class="text-secondary font-weight-medium m-0">Sending and receiving goods in and out Of Chad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Services Start -->
        <div class="container-fluid pt-5 pb-3" id="our-services">
            <div class="container">
                <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
                <h1 class="display-4 text-center mb-5">What We Offer</h1>
                <div class="row">
                    <div class="col-lg-3 col-md-6 pb-1">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                                <!-- <i class="fa fa-3x fa-cloud-sun text-secondary"></i> -->
                                <i class="fas fa-money-bill-transfer fa-3x text-success" aria-hidden="true"></i>
                                <!-- fa-mon -->
                            </div>
                            <h4 class="font-weight-bold m-0">Money transafers</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pb-1">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                                <i class="fa-3x fas fa-file-invoice-dollar text-secondary"></i>
                            </div>
                            <h4 class="font-weight-bold m-0">Currency Exchange</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pb-1">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                                <i class="fa-3x fas fa-file-signature text-tertiary"></i>
                            </div>
                            <h4 class="font-weight-bold m-0">Visa / Permit Registration</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pb-1">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                                <i class="fa-3x fas fa-cart-arrow-down text-danger"></i>
                            </div>
                            <h4 class="font-weight-bold m-0">Shipping Goods</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->


        <!-- Features Start -->
        <div class="container-fluid py-5" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                        <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Our Features</h6>
                        <h1 class="mb-4">Why Choose Us</h1>
                        <p>
                            Our Clients have given a lot of positive feedback on our service from all over the continent. 
                            We are Highly Trusted and Acreditted for our good work. <br>
                            Below are The statistics of our Work over the years. 
                        </p>
                        <!-- <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p> -->
                        <div class="row">
                            <div class="col-sm-6 mb-4">
                                <h1 class="text-secondary" data-toggle="counter-up">2+</h1>
                                <h5 class="font-weight-bold">Years Expereince</h5>
                            </div>
                            <!-- <div class="col-sm-6 mb-4">
                                <h1 class="text-secondary" data-toggle="counter-up">250</h1>
                                <h5 class="font-weight-bold">Expert Worker</h5>
                            </div> -->
                            <div class="col-sm-6 mb-4">
                                <h1 class="text-secondary" data-toggle="counter-up">1250</h1>
                                <h5 class="font-weight-bold">Active Clients</h5>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h1 class="text-secondary" data-toggle="counter-up">9550</h1>
                                <h5 class="font-weight-bold">Services Rendered</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="d-flex flex-column align-items-center justify-content-center bg-secondary h-100 py-5 px-3">
                            <i class="fa fa-5x fa-certificate text-white mb-5"></i>
                            <h1 class="display-1 text-white mb-3">2</h1>
                            <h1 class="text-white m-0">Years Experience</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->


        <!-- Working Process Start -->
        <!-- <div class="container-fluid pt-5">
            <div class="container">
                <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Working Process</h6>
                <h1 class="display-4 text-center mb-5">How We Work</h1>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                                <h2 class="display-2 text-secondary m-0">1</h2>
                            </div>
                            <h3 class="font-weight-bold m-0 mt-2">Order Place</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                                <h2 class="display-2 text-secondary m-0">2</h2>
                            </div>
                            <h3 class="font-weight-bold m-0 mt-2">Free Pick Up</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                                <h2 class="display-2 text-secondary m-0">3</h2>
                            </div>
                            <h3 class="font-weight-bold m-0 mt-2">Dry Cleaning</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                                <h2 class="display-2 text-secondary m-0">4</h2>
                            </div>
                            <h3 class="font-weight-bold m-0 mt-2">Free Delivery</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Working Process End


        <!-- Exchange Rate Start -->
        <div class="container-fluid pt-5 pb-3" id="exchange-rate">
            <div class="container">
                <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Exchange Rate</h6>
                <h1 class="display-4 text-center mb-5">Exchange Rates</h1>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="bg-light text-center mb-2 pt-4">
                            <div class="d-inline-flex flex-column align-items-center justify-content-center bg-secondary rounded-circle shadow mt-2 mb-4" style="width: 200px; height: 200px; border: 15px solid #ffffff;">
                                <h3 class="text-white"><i class="fas fa-dollar-sign"></i>1.00</h3>
                                <h1 class="display-5 text-white mb-0">
                                    <small class="align-top" style="font-size: 22px; line-height: 45px;"><i class="fas fa-cedi-sign"></i></small> {{'{: .2f}'.format(rates["GHS"])}}<small class="align-bottom" style="font-size: 16px; line-height: 40px;"></small>
                                </h1>
                            </div>
                            <div class="d-flex flex-column align-items-center py-3">
                                <p>1 USD = <span class="cedi-price"><i class="fas fa-cedi-sign"></i>{{'{: .4f}'.format(rates["GHS"])}} Ghana Cedi</span></p>
                            </div>
                            <a href="#contact-us" class="btn btn-secondary py-2 px-4">Exchange Now</a>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="bg-light text-center mb-2 pt-4">
                            <div class="d-inline-flex flex-column align-items-center justify-content-center bg-primary rounded-circle shadow mt-2 mb-4" style="width: 200px; height: 200px; border: 15px solid #ffffff;">
                                <h3 class="text-white"><i class="fas fa-dollar-sign"></i>1.00</h3>
                                <h1 class="display-5 text-white mb-0">
                                    <small class="align-top" style="font-size: 22px; line-height: 45px;"><i class="fas fa-cent-sign"></i></small>{{'{: .2f}'.format(rates["XAF"])}}<small class="align-bottom" style="font-size: 16px; line-height: 40px;"></small>
                                </h1>
                            </div>
                            <div class="d-flex flex-column align-items-center py-3">
                                <p>
                                    1 USD = <span class="cedi-price"><i class="fas fa-cedi-sign"></i>{{'{: .4f}'.format(rates["XAF"])}} Cefa</span>
                                </p>
                            </div>
                            <a href="#contact-us" class="btn btn-primary py-2 px-4">Exchange Now</a>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="bg-light text-center mb-2 pt-4">
                            <div class="d-inline-flex flex-column align-items-center justify-content-center bg-secondary rounded-circle shadow mt-2 mb-4" style="width: 200px; height: 200px; border: 15px solid #ffffff;">
                                <h3 class="text-white"><i class="fas fa-dollar-sign"></i>1.00</h3>
                                <h1 class="display-5 text-white mb-0">
                                    <small class="align-top" style="font-size: 22px; line-height: 45px;"><i class="fas fa-cedi-sign"></i> </small>{{'{: .2f}'.format(rates["NGN"])}}<small class="align-bottom" style="font-size: 16px; line-height: 40px;"></small>
                                </h1>
                            </div>
                            <div class="d-flex flex-column align-items-center py-3">
                                <p>
                                    1 USD = <span class="cedi-price"><i class="fas fa-cedi-sign"></i> {{'{: .4f}'.format(rates["NGN"])}} Nira</span>
                                </p>
                            </div>
                            <a href="#contact-us" class="btn btn-secondary py-2 px-4">Exchange Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Exchange Rate End -->


        <!-- Testimonial Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Testimonial</h6>
                <h1 class="display-4 text-center mb-5">What Our Clients Say</h1>
                <div class=" testimonial-carouse">
                    <div class="testimonial-item mb-3">
                        <img class="position-relative rounded-circle bg-white shadow mx-auto" src="{{ url_for('static', filename='assets/img/testimonial-1.jpg') }}" style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;" alt="">
                        <div class="bg-light text-center p-4 pt-0">
                            <h5 class="font-weight-medium mt-5">Code Wizard</h5>
                            <p class="text-muted font-italic">Software Developer</p>
                            <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor ipsum clita</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

    </main>

{% endblock %}
